* {
  font-family: "Arial";
}

.dashboard {
  background-color: #dbdff5;
  display: flex;
  position: absolute;
  z-index: -2;
}

.breadcrumb > li + li::before {
  color: #ccc;
  content: ">" !important;
  font-weight: 700;
}

.breadcrumb > li:first-child a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

.dashboard > div > div:last-child {
  padding: 58px 12px;
}

.dashboard > div > div > div {
  margin-bottom: 18px;
}

.grafic-title div {
  margin-right: 8px;
  font-weight: 700;
  font-size: 14px;
}

.grafic-title > div:first-child {
  background-color: #0d28a6;
  width: 4px;
  height: 24px;
  margin-left: 2px;
}

.empty-area {
  width: 20vw;
  background-color: white;
}

.grid-cars-list {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  justify-content: center;
  justify-items: end;
  gap: 2rem;
  margin: 1rem 0 4rem 0;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}

.w-75 {
  position: relative;
  left: 10%;
}

.w-14{
    width: 14rem;
}

.w-22{
    width: 22rem;
}

span{
    color: red;
}

.fixed{
    position: fixed;
    bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .grid-cars-list {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: 2rem;
    margin: 1rem 0 4rem 0;
  }
}
